<!DOCTYPE html>
<html class="no-js">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="imagetoolbar" content="no" >
  <title>Map of CPAN</title>
  <link rel="stylesheet" type="text/css" href="static/cpan-map.css">
  <script type="text/javascript" src="static/jquery-1.7.min.js"></script>
  <script type="text/javascript">
    $('html').removeClass('no-js').addClass('js');
  </script>
  <script type="text/javascript" src="static/jquery.mousewheel.min.js"></script>
  <script type="text/javascript" src="static/sammy/sammy-0.7.0.min.js"></script>
  <script type="text/javascript" src="static/sammy/plugins/sammy.template-0.7.0.min.js"></script>
  <script type="text/javascript" src="static/sammy/plugins/sammy.title-0.7.0.min.js"></script>
  <script type="text/javascript" src="static/jqueryui/1.8.16/ui/minified/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/jqueryui/1.8.16/themes/base/minified/jquery.ui.all.min.css">
  <script type="text/javascript" src="static/cpan-map.js"></script>
</head>
<body>

  <div class="noscript">
    <h1>Javascript Required</h1>
    <p>You must enable Javascript to use the <strong>Map of CPAN</strong>
    application.</p>
  </div>

  <script type="text/template" id="tmpl-home">
    <div class="info">
      <p>Explore the Map of CPAN by zooming, panning and clicking with your mouse.</p>
      <p>The map represents a total of <%= ('' + distribution_count).replace(/(\d\d\d)$/, ',$1') %>
      distributions, containing <%= ('' + module_count).replace(/(\d\d\d)$/, ',$1') %>
      modules.</p>
    </div>
  </script>

  <script type="text/template" id="tmpl-distro">
    <div class="info">
      <p class="dist-name"><a href="https://metacpan.org/release/<%= meta.distribution %>" title="<%= name %>"><%= name %></a></p>
      <% if(meta.abstract) { %>
          <p class="abstract"><%= meta.abstract %></p>
      <% } else { %>
          <p class="abstract"><i>No abstract.</i></p>
      <% } %>
      <% if(maintainer.avatar_url) { %>
      <div class="avatar"><a href="#/maint/<%= maintainer.id %>"><img src="<%= maintainer.avatar_url %>"></a></div>
      <% } %>
      <% if(maintainer.name) { %>
      <p><label>Maintainer:</label><%= maintainer.name %></p>
      <% } %>
      <p><label>CPAN ID:</label><a href="#/maint/<%= maintainer.id %>"><%= maintainer.id %></a></p>
      <p><label>Version:</label><%= meta.version %></p>
      <p><label>Released:</label><%= meta.date.replace(/T.*$/, '') %></p>
      <p><a href="https://metacpan.org/source/<%= meta.author %>/<%= meta.name %>">Browse</a></p>
      <% if(meta.download_url) { %>
      <p><a href="<%= meta.download_url %>">Download</a></p>
      <% } %>
      <% if(meta.resources.repository && meta.resources.repository.web) { %>
          <p><a href="<%= meta.resources.repository.web %>">Repository</a></p>
      <% } %>
      <% if(meta.resources.bugtracker && meta.resources.bugtracker.web) { %>
          <p><a href="<%= meta.resources.bugtracker.web %>">Bug Tracker</a></p>
      <% } %>
      <p><a href="#/distro/<%= name %>/deps">Dependencies</a></p>
      <p><a href="#/distro/<%= name %>/rdeps">Reverse dependencies</a></p>
    </div>
  </script>

  <script type="text/template" id="tmpl-deps">
    <div class="info">
      <p class="dist-name"><a href="#/distro/<%= name %>" title="<%= name %>"><%= name %></a></p>
      <% if(deps.length) { %>
        <p>Dependencies by phase</p>
        <% for(var i = 0; i < deps.length; i++) { var phase = deps[i]; %>
          <h2>Phase: “<%= phase.name %>”</h2>
          <ul>
          <% for(var j = 0; j < phase.deps.length; j++) { var dep = phase.deps[j]; %>
            <% if(dep.distro) { %>
            <li><a href="#/distro/<%= dep.distro %>"><%= dep.module %></a></li>
            <% } else { %>
            <li><a href="#/module/<%= dep.module %>"><%= dep.module %></a></li>
            <% } %>
          <% } %>
          </ul>
        <% } %>
      <% } else {%>
        <p>This module lists no dependencies.</p>
      <% } %>
    </div>
  </script>

  <script type="text/template" id="tmpl-maint">
    <div class="info">
      <p class="dist-name"><a href="https://metacpan.org/author/<%= maint.id %>" title="<%= (maint.name || maint.id) %>"><%= (maint.name || maint.id) %></a></p>
      <% if(maint.avatar_url) { %>
      <div class="avatar"><img src="<%= maint.avatar_url %>"></div>
      <% } %>
      <p><label>CPAN ID:</label><a href="#/maint/<%= maint.id %>"><%= maint.id %></a></p>
      <% if(maint.meta.location) { %>
        <p><label>Location:</label><%= maint.meta.location %></a></p>
      <% } %>
      <% if(maint.meta.website && maint.meta.website[0]) { %>
          <p><a href="<%= maint.meta.website[0] %>">Web site</a></p>
      <% } %>
      <h2>Distributions: (<%= distros.length %>)</h2>
      <ul>
      <% for(var i = 0; i < distros.length; i++) { %>
          <li><a href="#/distro/<%= distros[i].name %>"><%= distros[i].name %></a></li>
      <% } %>
      </ul>
  </script>

</body>
</html>

